<div class="Cartmain" style="margin-top:10px">
    <div class="leftBox2">
            <div class="CartItem">
                   
                        <img class="CartImg" src="https://5.imimg.com/data5/TQ/QP/YN/NSDMERP-82985467/82985467-product-fcp-1552725115852-500x500.jpg" alt="">
                   
                    <div class="SecondDiv">
                            <b>Item Name</b>
                            <br>
                            <i>Price</i>
                            <br>
                            <i>Quantity</i>
                            <br>
                            <i>Discription</i>
                    </div>
                
        </div>
 <div class="CartItem">
                   
                        <img class="CartImg" src="https://5.imimg.com/data5/TQ/QP/YN/NSDMERP-82985467/82985467-product-fcp-1552725115852-500x500.jpg" alt="">
                   
                    <div class="SecondDiv">
                            <b>Item Name</b>
                            <br>
                            <i>Price</i>
                            <br>
                            <i>Quantity</i>
                            <br>
                            <i>Discription</i>
                    </div>
                   
        </div>
         <div class="CartItem">
                   
                        <img class="CartImg" src="https://5.imimg.com/data5/TQ/QP/YN/NSDMERP-82985467/82985467-product-fcp-1552725115852-500x500.jpg" alt="">
                   
                    <div class="SecondDiv">
                            <b>Item Name</b>
                            <br>
                            <i>Price</i>
                            <br>
                            <i>Quantity</i>
                            <br>
                            <i>Discription</i>
                    </div>
                    
        </div>
        

    </div>
</div>